pre, code {
    width: 50em;
    margin-bottom: 0px;
    padding: 0px 0px;
}
td.code {
    font-size: 12px;
    width: 50em;
}
td.small {
    width: 1em;
}
#code_table {
    width: 100%;
}
span.button, div.button {
    cursor: default;
    background: LightSalmon;
    border: solid 1px black;
    padding: 2px;
}
#user {
    width: 20em;
}
#text {
    width: 100%;
    resize: none;
    height: 40em;
}
#comment_box {
    padding: 2px;
    position:absolute;
	background:White;
}

.codeBlock{
	background:White;
}

.highlighted{
	background:LightSalmon;
}

#error {
    background-color: Red;
    color: White;
}
