pre, code {
    width: 50em;
    margin-bottom: 0px;
    padding: 0px 0px;
}
td.code {
    font-size: 12px;
    width: 50em;
}
td.small {
    width: 1em;
}
table#code_table {
    width: 100%;
}
span.button, div.button {
    cursor: default;
    background: LightSalmon;
    border: solid 1px black;
    padding: 2px;
}
input#user {
    width: 20em;
}
textarea#text {
    width: 100%;
    resize: none;
    height: 40em;
}
div#comment_box {
    padding: 2px;
}
div#error {
    background-color: Red;
    color: White;
}