.pre {
    font: 10px/1.2 Courier, monospace;
    white-space: pre;
    width: 48em;
    word-wrap: break-word;
}
td.code {
    width: 50em;
}
td.small {
    width: 1em;
}
table#code_table {
    width: 100%;
}
span.button, div.button {
    cursor: default;
    background: LightSalmon;
    border: solid 1px black;
    padding: 2px;
}
input#user {
    width: 20em;
}
textarea#text {
    width: 100%;
    resize: none;
    height: 40em;
}
div#comment_box {
    padding: 2px;
}
div#error {
    background-color: Red;
    color: White;
}